.buttonArea{
     width:500px;
     height:100px;
     border: 1px solid green;
}
.button{
    border:0px;
    margin: 3px;
    font-size: 14px;
       color:white;
       width: 140px;
       height: 30px;
}
.add{
    background-color: #00b4cf;
}
.add:active {
      background-color: #01869A;
  color: #fff;
}
.cancel{
  background-color: #2d4054;
}
.cancel:active{
          background-color: #435466;
  color: #fff;
}