:root {
    --color-yellow: #ff9a2a;
    --color-green: #7fbc39;
    --color-light-blue: #00b4cf;
    --color-dark-blue: #01869a;
    --color-dark-gray: #2d4054;
    --color-light-gray: #435466;
    --color-light-white: #f3f3f3;
    --color-dark-white: #e1e4e6;

    --border-size: 3px;

    --button-height: 30px;
    --button-font-size: 14px;
    --button-icon-size: 18px;

    --font-icon-size-big: 20px;
    --font-icon-size-small: 16px;

    --badges-size: 14px;

    --avatar-size: 40px;
    --avatar-border-radius: 50%;

    --history-header-font-size: 24px;
    --history-header-color: #ccc;

    --history-item-font: 12px;
    --history-item-color: #999;
    --history-item-color-hover: #00b4cf;

    --text-color: #2d4054;
    --text-color-hover: #00b4cf;
    --text-font-family: Avenir, Helvetica, Arial, sans-serif;
    --text-size: 14px;
}
